html{
  background: #eee;
  font-family:MyriadPro-Light;
  color:#333;
  padding-top:0px;
  padding-bottom:-10px;
}

#desktop{
  display:block;
}

#mobile{
  display:none;
}





#img{
  background-image:url("http://wallpapershome.com/images/pages/pic_h/5268.jpg");
  background-size: cover;
  padding-bottom:10px;
  margin-top:-8px;
  margin-left:-8px;
  margin-right:-8px;
  margin-bottom:0px;
  top:0;
  left:0;
}


.menuBtn{
  width:20px;
  height:20px;
  margin-top:;
}

.active{
  color:#333;
}




.mOverlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.98);
  overflow-x: hidden;
  transition: 0.5s;
  display:block;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);	
}

.mOverlay-content {
  position: relative;
  bottom: 5px;
  width: 100%;
  text-align: center;
  margin-top: 13px;
}

.mOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  background:#333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  transition: 0.5s;
  display:inline-block;
  margin-right:50px;
  font-family:CuteTumblrFont;
}

.mOverlay a:hover {
  background:  linear-gradient(to left, #fc00ff , #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.mOverlay .closebtn {
position: absolute;
left: 25px;
font-size: 25px;
font-family:Myriad-Pro-Light;
padding:0px; !important
}

#mOverlay_menu{
  display:inline-block;
}




.lOverlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.98);
  overflow-x: hidden;
  transition: 0.5s;
  display:block;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);	
}

.lOverlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top:8px;
  margin-right:30px;
}

.lOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  background:#333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  display:inline-block;
  margin-right:30px;
  margin-top:0px;
  font-family:CuteTumblrFont;
}

.lOverlay a:hover {
  background:  linear-gradient(to left, #fc00ff , #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  transition:0.5s;
}

.lOverlay a:focus {
  color: #333;
}

.lOverlay-content .closebtn {
  position: absolute;
  top:3px;
  right:10px;
  float:right;
  font-size: 25px;
  font-family:Myriad-Pro-Light;
  padding:0px; !important
}

#lOverlay_menu{
  display:inline-block;
}




.aOverlay {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.5s;
  display:block;
  margin-top:15px;
}

.aOverlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top:10px;
  margin-right:30px; 
}

.aOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  color: #333;
  display:inline-block;
  margin-right:50px;
  margin-top:0px;
  font-family:CuteTumblrFont;
}

.aOverlay a:hover {
  color:lightgrey;
  transition:0.5s;
}

.aOverlay a:focus {
  color: #333;
}

#aOverlay_menu{
  display:inline-block;
}




.exOverlay {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 0;
  background-color: #f9f9f9;
  background-color: rgba(245,245,245,0.98);  
  overflow-x: hidden;
  margin-top:15px;
  transition: 0.5s;
  display:block;
}

.exOverlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top:12px;
  margin-right:30px;
}

.exOverlay a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  display:inline-block;
  margin-right:30px;
  font-family:CuteTumblrFont;
}

.exOverlay a:hover {
  color:grey;
  transition:0.5s;
}

.exOverlay a:focus {
  color: #333;
}

#exOverlay_menu a{
  display:inline-block;
  width:140px;
  text-decoration:none;
  padding-right:0%;
  padding-left:0%; 
  padding-bottom:2px;
  margin-top:3px;
  margin-left:-1px;
  margin-bottom:-3px;
  border-bottom:1.5px solid rgba(0,0,0,0.0);
  border-bottom-width:4px;
  color:#333;  
}

#exOverlay_menu a:hover:nth-child(1){
  border-bottom:1.5px solid #e74c3c;
}

#exOverlay_menu a:hover:nth-child(2){
  border-bottom:1.5px solid #f39c12;
}

#exOverlay_menu a:hover:nth-child(3){
  border-bottom:1.5px solid #f1c40f;
}

#exOverlay_menu a:hover:nth-child(4){
  border-bottom:1.5px solid #2ecc71;
}

#exOverlay_menu a:hover:nth-child(5){
  border-bottom:1.5px solid #3498db;
}

#exOverlay_menu a:hover:nth-child(6){
  border-bottom:1.5px solid #9b59b6;
}




#mNav_link1{
 margin-left:30px;
}

#language{
  float:right;
  margin-right:10px;	
  display:inline-block;
  margin-top:0px;
}

#languageX{
  float:right;
  margin-right:40px;	
  display:inline-block;
  font-size:25px;
  padding:0px;
  margin-bottom:10px;
  margin-left:10px;
}




#navbar{
  margin-top:-25px;
  width:100%;
  position:fixed;
  z-index:1;
}

#searchBar  {
  height:25px;
  width:0px;
  font-size:14px;
  padding-left:0px;
  border: 1px solid rgba(255, 255, 255, 0.0);
  border-bottom:1px solid rgba(255, 255, 255, 0.0);
  background-color: rgba(255, 255, 255, 0.0);
  margin-bottom:0px;
  display:inline-block;
  transition: 0.5s;
  color:#fff;

}

#searchBar:focus{
  outline:none;
}

#searchBar_results{
  list-style-type:none;
  margin-left:98.7px;
  margin-top:45px;
  margin-bottom:0px;
  height: 0;
  width: 85.19%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#fff;
  overflow: scroll;
  transition: 0.5s;
  display:block;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);	
  font-size:15px;
}

#searchBar_results ul li {
  list-style-type:none;
  display:inline-block;
}

.searchBar_header{
  width:100%;
  height:45px;
  padding-top:7px;
  background-color:white;
  border-bottom:0.2px solid #333;
  margin-top:0px;
  margin-bottom:0px;
  overflow-x:scroll;
  position:relative;
  z-index: 2;
}

#searchBar_headerC a img {
  width:200px;
  text-decoration:none;
  padding-right:6.89%;
  padding-left:6.89%; 
  padding-bottom:0px;
  margin-left:-1px;
  margin-bottom:-3px;
  border-left:0.5px solid dimgrey;
  border-bottom:1.5px solid #fff;
  border-bottom-width:4px;
  color:#333;
}

#searchBar_headerC a{
  margin-left:-3px;
  transition:0.05s;
  padding-bottom:-100px;
}


#searchBar_headerC a:hover:nth-child(1){
  border-bottom:1.5px solid #e74c3c;
}

#searchBar_headerC a:nth-child(1){
  margin-left:0px;
}

#searchBar_headerC a:hover:nth-child(2){
  border-bottom:1.5px solid #f39c12;
}

#searchBar_headerC a:hover:nth-child(3){
  border-bottom:1.5px solid #f1c40f;
}

#searchBar_headerC a:hover:nth-child(4){
  border-bottom:1.5px solid #2ecc71;
}

#searchBar_headerC a:hover:nth-child(5){
  border-bottom:1.5px solid #3498db;
}

#searchBar_headerC a:hover:nth-child(6){
  border-bottom:1.5px solid #9b59b6;
}


.searchBar_resultsInfo {
  margin-top:20px;
  margin-left:23px;
  margin-bottom:10px;
  width: 215px;
  height:310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display:inline-block;
  float:left;
  position:relative;
  background-color:#fff;
  border-bottom: 3px solid rgba(0,0,0, 0.0);
  transition: 0.1s;
}

.searchBar_resultsInfo:hover{
  background-color:#F8F9F9;
  border-bottom: 3px solid dimgrey;
}



div.container {
  padding: 10px;
}



#homePg_title{
  font-size:123px;
  margin-top:250px;  !important
  margin:auto;
  color:#fff;
  text-align:center;
  margin-bottom:-30px;
  font-family: WildYouth-Regular;	
}

#homePg_title2{
  font-size:123px;
  margin:auto;
  margin-bottom:240px;
  color:#fff;
  text-align:center;
  margin-top:0px;
  font-family: WildYouth-Regular;	
  padding:0px;
  height:150px;
}



.homePg_info{
  width:98.3%;
  height:500px;
  padding:20px;
  background-color: linear-gradient(to bottom, #fff , rgba(211, 211, 211, 0.00000000000005));
  margin-left:-8px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:0.5px;
  text-align:center;
}

.homePg_info a{
  text-decoration: none;
  color: #00C9FF;
  display:inline-block;
  font-size:20px;
}




#home_Pg_introI {
  width:50%;
  font-size:20px;
  margin-top:0px;
  margin:auto;
  margin-bottom:70px;
  color:#fff;
  display:inline-block;
}

#homePg_intro{
  margin-top:0px;
  margin-bottom:0px;
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  border-radius:0px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);  
  background-color:#1c1c1c;
  height:730px;
  border:0px solid #fff;
}

#homePg_slogan{
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:50px;
  text-align:center;
  font-family:NaiveDecoSansPart1;
  display:block;
  margin-bottom:100px;
  margin-top:200px;
}

#homePg_slogan div{
  width:10px;
}




/*http://www.outdoor-matters.co.uk/resources/IMGP3771.JPG
https://static1.squarespace.com/static/53f281d2e4b009ac85d34dd4/t/581838a86b8f5bc983fc6766/1476423272784/?format=2500w
http://static2.gamespot.com/uploads/original/1574/15746725/3155204-wingsuit_mp_1478656655.jpg
http://www.wallpapersbyte.com/wp-content/uploads/2015/07/Raven-Bird-Flying-Minimalism-Smoke-Art-Abstract-Black-Gray-BW-WallpapersByte-com-3840x2160.jpg*/



#homePg_i1{
  color:#333;
  height:680px;
  padding-top:150px;
  border:0px solid white;
  background-image: url(" https://static1.squarespace.com/static/53f281d2e4b009ac85d34dd4/t/581838a86b8f5bc983fc6766/1476423272784/?format=2500w");
  background-size:cover;
}

#homePg_i1_i1{
  color:#fff;
  font-size:18px;
  margin-bottom:0px;
  margin-left:30%;
  margin-top:100px;
  padding-left:20px;
  text-align:left;
  border-left: 1.5px solid #3bb4d4;
}

#homePg_i1_Tittle{
  font-size:64px;
  font-family:Anurati;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#homePg_i1 a{
  margin-top:100px;
  background: linear-gradient(to bottom right, #00C9FF , #92FE9D);
  color:#fff;
  font-size:15px;
  padding-left:30px;
  padding-right:30px;
  padding-top:16px;
  padding-bottom:16px;
  border-radius:5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
}

#homePg_i1 a:hover{
  border:0.5px solid #fff;
}

#homePg_i1 a:active{
  margin-top:102px;
}

#homePg_i1_i2{
  font-size:20px;
  margin-bottom:100px;
  margin:auto;
  padding-left:20px;
  width:600px;
  text-align:center;
  font-family:MyriadPro-Light;
  font-stretch: expanded;
}



/*http://wallpapershome.com/images/pages/pic_h/6290.jpg
http://wallpapershome.com/images/pages/pic_h/1256.jpg*/

#homePg_i2{
  height:850px;
  padding:0px;
  font-size:17px;
  background-image:url("http://wallpapershome.com/images/pages/pic_h/3955.jpg");
  background-size:cover;
  margin-top:-1px;
  color:#fff;
  padding-left:40px;
}

#homePg_i2Left{
  float:left;
  width:100%;
  height:100%;
}


#homePg_i2_aHeader{
  margin-top:25%;
  margin-left:100px;
  text-align:left;
}

#homePg_i2_aHeader p{
  display:inline-block;
  margin-right:20px;
  padding:0px;
}

#homePg_i2_aHeader p:hover{
  color:#92FE9D;
}

#game_h{
  color:#92FE9D;
}

.homePg_i2_Mp{
  text-align:left;
  width:500px;
  margin-left:100px;
  margin-top:50px;
  padding-left:20px;
  border-left:1px solid  #92FE9D;
}


#homePg_i2_games{
  width:500px;
  display:block;
    transition:0.5s;
}

#homePg_i2_games a{
  margin-top:30px;
  background: linear-gradient(to bottom right, #00C9FF , #92FE9D);
  color:#fff;
  font-size:15px;
  padding-left:30px;
  padding-right:30px;
  padding-top:16px;
  padding-bottom:16px;
  border-radius:5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
  display:block;
  width:80px;
  text-align:center;
}


#homePg_i2_quizes{
  display:none;
  transition:0.5s;
}

#homePg_i2_quizes a{
  margin-top:30px;
  background: linear-gradient(to bottom right, #00C9FF , #92FE9D);
  color:#fff;
  font-size:15px;
  padding-left:30px;
  padding-right:30px;
  padding-top:16px;
  padding-bottom:16px;
  border-radius:5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
  display:block;
  width:80px;
  text-align:center;
}


#homePg_i2_challenges{
  display:none;
  transition:0.5s;
}

#homePg_i2_challenges a{
  margin-top:30px;
  background: linear-gradient(to bottom right, #00C9FF , #92FE9D);
  color:#fff;
  font-size:15px;
  padding-left:30px;
  padding-right:30px;
  padding-top:16px;
  padding-bottom:16px;
  border-radius:5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
  display:block;
  width:80px;
  text-align:center;
}


.dmca-badge{
  margin-right:0px;
  margin-top:20px;
  float:right;
}


#homePg_about{
  height:730px;
  background-color:#1c1c1c;
  /*background-image:url("https://s-media-cache-ak0.pinimg.com/originals/9e/22/1a/9e221ad8fe3fa18b67017e6fd2478649.png");
  background-size:contain;*/
  margin-top:-1px;
  color:#fff;
}

#homePg_about_i1 strong{
  font-size:initial;
  color:#92FE9D;
}


#homePg_about_i1 a{
  background: linear-gradient(to bottom right, #00C9FF , #92FE9D);
  color:#fff;
  font-size:13px;
  padding-left:30px;
  padding-right:30px;
  padding-top:16px;
  padding-bottom:16px;
  border-radius:5px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
  display:inline-block;
  margin-right:10px;
  width:15%;
  text-align:center;
}

#homePg_about_i1{
  text-align:left;
  margin-top:10%;
  margin-left:5%;
  margin-right:95%;
  width:30%;
  font-family:MyriadPro-Light;
  font-size:17px;
}

#footer{
  background-color:#000;
  width:99.75%;
  height:50px;
  margin-left:-8px;
  margin-right:-10px;
  margin-top:-1px;
  margin-bottom:-10px;
  padding-top:0px;
  padding-left:0px;
  clear:both;
  bottom:-10px;
}



#jump_homePg{
  margin-left:48%;
  outline:none;
}

#jump3_homePg{
  margin-left:10%;
  outline:none;
}

.jump{
height:0px;
}

.arabic {
  font-family:Scheherazade;
}

